@model IEnumerable<Part_1.Model.Bill>

@{
    ViewBag.Title = "AllBills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Bills</h2>

<p>
    @Html.ActionLink("Create New", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidDate)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidDate)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
